body {
    background-color: whitesmoke;
    margin: 0;
}

a {
    padding-left: 20px;
    text-decoration: none;
}

.wrapper {
    max-width: 1150px;
    margin: 0 auto;
}

.intro {
    background-image: url("background.jpg");
    min-height: 100vh;
    font-family: Roboto;
}

.intro_wrapper {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro h1 {
    font-family: Philosopher;
    font-size: 48px;
    margin-bottom: 60px;
}

.intro p {
    font-size: 24px;
    max-width: 640px;
}

.about {
    min-height: 100vh;
    font-family: Roboto; 
}

.about_wrapper {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1 {
    font-family: Philosopher;
    font-size: 48px;
    margin-bottom: 60px;
}

.about p {
    font-size: 24px;
    max-width: 640px;
}

.friends {
    min-height: 100vh;
    font-family: Roboto;
    background-color: #feeedf;
}

.friends_wrapper {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friends h1 {
    font-family: Philosopher;
    font-size: 48px;
    margin-bottom: 60px;
}

.friends img {
    border-radius: 1em;
    width: 150px;
}


.projects {
    min-height: 50vh;
    font-family: Roboto;
    background-color: plum;
}

.projects_wrapper {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h1 {
    font-family: Philosopher;
    font-size: 48px;
    margin-bottom: 60px;
}

.projects img {
    width: 15em;
    border-radius: 1em; 
}

.btn {
    background-color: #3e51ff;
	color: #fff;
	border: none;
	padding: 1em;
	border-radius: 1em;
	margin: 1em;
}

.tools {
    background: linear-gradient(45deg, #f88cff 0%, #8cb9ff 100%);
    min-height: 50vh;
    font-family: Roboto;
}

.tools_wrapper {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tools h1 {
    font-family: Philosopher;
    font-size: 48px;
    margin-bottom: 60px; 
}

.pages_logo {
    font-family: Philosopher;
    font-size: 24px;
    margin-right: 500px;
}

.pages {
    font-size: 24px;
    margin-right: 500px;
}

.bots {
    font-size: 24px;
}

.games_logo {
    font-family: Philosopher;
    font-size: 24px;
    margin-left: 500px;
}

.games {
    font-size: 24px;
    margin-left: 500px;
}

.bots_logo {
    font-family: Philosopher;
}

.skills_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills_img {
    width: 450px;
    height: 450px;
    margin-top: 102px;
    margin-bottom: 101px;
}

.skills_img:hover {
    filter: sepia(50%);
}

.skills_left {
    width: 445px;
    margin-right: 150px;
}

.skills_title {
    margin-top: 200px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.skill {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

    padding-bottom: 24px;
}

.skill_1 {
    position: relative;
}

.skill_1::before {
    content: " ";
    width: 445px;
    height: 4px;
    background-color: #c4c4c4;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_1::after {
    content: " ";
    width: 150px;
    height: 4px;
    background-color: #34547A;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skills {
    background-color: white;
}

.skill_2 {
    position: relative;
}

.skill_2::before {
    content: " ";
    width: 445px;
    height: 4px;
    background-color: #c4c4c4;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_2::after {
    content: " ";
    width: 100px;
    height: 4px;
    background-color: #34547A;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_3 {
    position: relative;
}

.skill_3::before {
    content: " ";
    width: 445px;
    height: 4px;
    background-color: #c4c4c4;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_3::after {
    content: " ";
    width: 10px;
    height: 4px;
    background-color: #34547A;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_1:hover::after {
    content: "45%";
}

.skill_2:hover::after {
    content: "25%";
}

.skill_3:hover::after {
    content: "5%";
}

.skill_4:hover::after {
    content: "49%";
}

.skill_5:hover::after {
    content: "1%";
}

.skill_4 {
    position: relative;
}

.skill_4::before {
    content: " ";
    width: 445px;
    height: 4px;
    background-color: #c4c4c4;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_4::after {
    content: " ";
    width: 200px;
    height: 4px;
    background-color: #34547A;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_5 {
    position: relative;
}

.skill_5::before {
    content: " ";
    width: 445px;
    height: 4px;
    background-color: #c4c4c4;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_5::after {
    content: " ";
    width: 5px;
    height: 4px;
    background-color: #34547A;
    position: absolute;
    bottom: 0;
    left: 0;
}

.video {
    margin-bottom: 100px;
}

.videos_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos_wrapper h1 {
    font-size: 32px;
    font-family: 'Roboto';
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: bold;
}
